/* styles.css */

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
.safe-top {
  padding-top: env(safe-area-inset-top);
}
